.container-answer-quizz {
  width: 100%;
}

.container-answer-quizz .quizz-header {
  width: 100%;
  height: 227px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-wrap: anywhere;
  overflow: hidden;
}

.quizz-title {
  font-size: 3.9rem;
  font-weight: 400;
  color: #fff;
}

.box-quizz-questions {
  width: 759px;
  margin: 0 auto;
}

.quizz-question,
.quizz-answer {
  font-weight: 700;
  background-color: #fff;
  box-shadow: 0px 0px 1rem rgba(0, 0, 0, 0.05);
  margin-top: 42px;
  padding: 28px 36px 0 36px;
}

.question-header,
.answer-header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  overflow-wrap: break-word;
  overflow: hidden;
}

.question-header {
  height: 138px;
  background-color: #ffffff;
}

.answer-header {
  height: 99px;
  background-color: #ec362d;
}

.question-title,
.answer-title {
  max-width: 100%;
  max-height: 100%;
  font-size: 2.3rem;
  color: #fff;
  overflow: hidden;
}

.box-question-options,
.answer-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  padding-top: 1.8rem;
}

.question-option {
  width: 48%;
  color: #000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  overflow-wrap: anywhere;
  overflow: hidden;
  cursor: pointer;
}

.option-img {
  width: 100%;
  aspect-ratio: calc(4 / 3);
  object-fit: cover;
  height: auto;
}

.option-text {
  font-size: 2rem;
  margin-bottom: 1.8rem;
}

.quizz-answer {
  margin-bottom: 5.7rem;
}

.box-answer {
  margin-bottom: 69px;
}

.answer-body {
  overflow-wrap: anywhere;
  overflow: hidden;
}

.answer-img {
  width: 50%;
  height: 39%;
  margin-bottom: 2.2rem;
}

.answer-text {
  width: 48%;
  font-size: 1.9rem;
  color: #484848;
  margin-bottom: 2.2rem;
}

.unselected-option {
  opacity: 60%;
}

.right-option {
  color: #009c22;
  cursor: default;
}

.wrong-option {
  color: #ff4b4b;
  cursor: default;
}

.btn-restart {
  width: auto;
}

@media (max-width: 759px) {
  html {
    font-size: 8px;
  }

  .container-answer-quizz {
    width: 100%;
  }

  .container-answer-quizz .quizz-header {
    height: 180px;
  }

  .box-quizz-questions {
    width: 100%;
    margin: 0 auto;
  }

  .quizz-question,
  .quizz-answer {
    margin-top: 24px;
    padding: 18px 18px 0 18px;
  }

  .question-header {
    height: 89px;
    background-color: #434ca0;
  }

  .option-img {
    width: 100%;
    height: auto;
    max-height: 160px;
  }

  .answer-body {
    display: block;
  }

  .answer-img {
    width: 100%;
  }

  .answer-text {
    width: 100%;
  }

  .restart-quiz-button {
    width: 220px;
  }
}

/* @media (max-width: 500px) {
  .option-img {
    width: 100%;
    height: auto;
    max-height: 120px;
  }
}

@media (max-width: 400px) {
  .option-img {
    width: 100%;
    height: auto;
    max-height: 105px;
  }
} */
